@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to DealerLead</h1>

    <p>DealerLead is the <i>#1 lead tracking app</i> for car dealerships!</p>

    @* determine if user is registerd *@
    @if (ViewBag.IsAuthenticatedUser == false)
    {
<h3>
    <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Please sign in</a>

</h3>
    }
    else if (ViewBag.DealerLeadUser == null)
    {
        <h3>You need to register your account.</h3>
        <form method="post" action="/Home/RegisterUser">
            <input name="oid" value="@ViewBag.oid" style="display:none;" />
            <button>Register</button>
        </form>
    }
    else 
    {
    <h3>Welcome! Manage your dealership here.</h3>

    <ul>
        <li>
            <a asp-area="" asp-controller="SupportedStates" asp-action="Index">Manage your States</a>
        </li>
        <li>
            <a asp-area="" asp-controller="SupportedMakes" asp-action="Index">Manage your Makes</a>
        </li>
        <li>
            <a asp-area="" asp-controller="SupportedModels" asp-action="Index">Manage your Models</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Dealership" asp-action="Index">Manage your Dealerships</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Vehicles" asp-action="Index">Manage your Vehicles</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Dealership" asp-action="Index">Manage your Dealerships</a>
        </li>
    </ul>
   
    }


    @ViewBag.oid

</div>

