@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DealerLead</h1>

    <p>DealerLead is the <i>#1 lead tracking app</i> for car dealerships!</p>

    @* determine if user is registerd *@
    @if (ViewBag.IsAuthenticatedUser == false)
    {
        <h3>Please Sign in.</h3>
    }
    else if (ViewBag.DealerLeadUser == null)
    {
        <h3>You need to register your account.</h3>
        <form method="post" action="/Home/RegisterUser">
            <input name="oid" value="@ViewBag.oid" style="display:none;" />
            <button>Register</button>
        </form>
    }
    else 
    {
    <h3>Welcome! Manage your dealership here.</h3>

    <div>
        <a asp-area="" asp-controller="SupportedStates" asp-action="Index">States</a>
    </div>
    <div>
        <a asp-area="" asp-controller="SupportedMakes" asp-action="Index">Makes</a>
    </div>
    <div>
        <a asp-area="" asp-controller="SupportedModels" asp-action="Index">Models</a>
    </div>
    }


    @ViewBag.oid

</div>

