@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DealerLead</h1>
    
    <p>DealerLead is the <i>#1 lead tracking app</i> for car dealerships!</p>

    @* determine if user is registerd *@

    <p>You don't have an account. Please Register</p>
    <button type="submit">Register Account</button>
</div>
