@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DealerLead</h1>

    <p>DealerLead is the <i>#1 lead tracking app</i> for car dealerships!</p>

    @* determine if user is registerd *@
    @if (User.Identity.IsAuthenticated)
    { 
        <p>Manage your dealership</p>
      
            <div>
                <a asp-area="" asp-controller="SupportedStates" asp-action="Index">States</a>
            </div>
            <div>
                <a asp-area="" asp-controller="SupportedMakes" asp-action="Index">Makes</a>
            </div>
            <div>
                <a asp-area="" asp-controller="SupportedModels" asp-action="Index">Models</a>
            </div>
        
    }
    else
    {
        <p>You don't have an account. Please Register</p>
        <button type="submit">Register Account</button>
    }



</div>
